body {
    background-color: #fffaff;
}

.container {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center; 
}

.center {
    justify-content: center;
}

.container > h1 {
    text-align: center;
}

.product-area {
    display: flex;
    margin: 0.2em;
    padding: 1.5em;
    border: 3px solid #1e1b18;
    border-radius: 0.2em;
    align-items: flex-start;
    background-color: #eaeaea;
    box-shadow: 10px 10px #1e1b18;
}

.item-product {
    border-right: 1px solid black;
    padding: 0 1em;
}

.item-product:nth-last-child(1) {
    border: none;
}

.form-product {
    width: 360px;
    padding: 2.5em;
    width: 50%;
    background-color: var(--light-gray);
    border: 3px solid #1e1b18;
    border-radius: 0.5em;
    margin-top: 1.5em;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-product > h2 {
    text-align: center;
}

.form-group > label {
    font-size: 1.3em;
}

.form-group > input {
    padding: 0.5em;
    font-size: 1.2em;
}

.form-group > textarea {
    padding: 0.8em;
    font-size: 1.2em;
    resize: none;
}
