body {
    background-color: #fffaff;
}

.container {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center; 
}

.center {
    justify-content: center;
}

.container > h1 {
    text-align: center;
}

.product-area {
    display: flex;
    margin: 0.2em;
    padding: 1.5em;
    border: 3px solid #1e1b18;
    border-radius: 0.2em;
    align-items: flex-start;
    background-color: #eaeaea;
    box-shadow: 10px 10px #1e1b18;
}

.item-product {
    border-right: 1px solid black;
    padding: 0 1em;
}

.item-product:nth-last-child(1) {
    border: none;
}

.content-product {
    padding: 2.5em;
    width: 80%;
    background-color: var(--light-gray);
    border: 3px solid #1e1b18;
    border-radius: 0.5em;
    margin-top: 1.5em;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-product > h2 {
    text-align: center;
}

.form-group > label {
    font-size: 1.3em;
}

.form-group > input {
    padding: 0.5em;
    font-size: 1.2em;
}

.form-group > textarea {
    padding: 0.8em;
    font-size: 1.2em;
    resize: none;
}

.align-center {
    align-items: center;
}

.form-group > button {
    margin: 20px 0;
    padding: 1em;
    font-size: 1em;
    width: 7em;
    background-color: #43aa8b;
    border: none;
    font-weight: 900;
    color: white;
}

.form-group > button:hover {
    background-color: #4d908e;
}

.table-product {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.table-product th {
    height: 1.2em;
    text-align: center;
    background-color: #f8f9fa;
}

.table-product > caption {
    border: 3px solid black;
    border-bottom: none;
    background-color: #2a9d8f;
    color: white;
}

.table-product thead th {
    border: 3px solid black;
}

.table-product tbody tr, td {
    border: 3px solid black;
}

.table-product th, td {
    padding: 1.2em;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

tr:nth-child(odd) {
    background-color: #fffcf2;
}

.th-description {
    width: 45%;
}
